.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

mat-header-cell {
  font-weight: bold;
}

mat-cell {

}

.col1 {
  min-width: 330px;
}

.col2 {
  min-width: 180px;

}

.col3 {
  text-align: right;
  padding-right: 30px;
  min-width: 90px;
}

.col4 {
  text-align: right;
  padding-right: 30px;
  min-width: 100px;
}

.col5 {
  text-align: right;
  padding-right: 30px;
  min-width: 70px;
}

.col6 {
  text-align: right;
  padding-right: 30px;
  min-width: 120px;
}

.col7 {
  text-align: right;
  padding-right: 30px;
  min-width: 120px;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}
