<div style="padding-left: 40px; padding-right: 40px;">

<mat-toolbar color="primary">
  <span>Canadian Mutual Fund</span>
</mat-toolbar>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fund Name </mat-header-cell>
      <mat-cell *matCellDef="let fund"> {{fund.name}} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell class="col1" *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
      <mat-cell class="col1" *matCellDef="let fund"> {{fund.price}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="topSubscriber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Top Subscriber </mat-header-cell>
      <mat-cell *matCellDef="let fund"> {{fund.topSubscriber}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="topPerformance">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Top Performance </mat-header-cell>
      <mat-cell *matCellDef="let fund"> {{fund.topPerformance}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="percentDealers">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Percent Dealers </mat-header-cell>
      <mat-cell *matCellDef="let fund"> {{fund.percentDealers}} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
      <mat-cell *matCellDef="let fund"> {{fund.category}} </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail">
        The category of {{detail.fund.name}} is {{detail.fund.category}}<br><br>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             matRipple
             class="element-row"
             [class.expanded]="expandedElement == row"
             [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">

    </mat-row>
    <!--mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
             [@detailExpand]="row.fund == expandedElement ? 'expanded' : 'collapsed'"
             style="overflow: hidden">
    </mat-row-->
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
  <ng-template #tpl let-element>
    <div class="mat-row" [@detailExpand] style="overflow: hidden">
      The symbol for {{element.name}} is {{element.symbol}}
    </div>
  </ng-template>
</div>
