<div>
<mat-grid-list cols="3">
    <mat-grid-tile></mat-grid-tile>

    <div style="height: 80px"></div>
    <mat-grid-tile class='login-element' style="overflow: visible">
        <div class="login-container">
 
         
            <div style="height: 20px"></div>
            <div class="login-box-header">
                <img style="height : 80px" src="https://content.prnewswire.com/images/RB_RB_Eng.png?w=200">
            </div>
            <div class="login-box-body">
                <mat-grid-list cols="9" rowHeight="75px">
                    <mat-grid-tile [rowspan]="1" class="login-icon">
                        <mat-icon>lock</mat-icon>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="7">
                        <mat-input-container class="justifier">
                            <input matInput placeholder="Username" text="text">
                        </mat-input-container>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="9" rowHeight="100px">
                    <mat-grid-tile [rowspan]="1"  class="login-icon">
                        <mat-icon>remove_red_eye</mat-icon>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="7">
                        <mat-input-container class="justifier">
                            <input matInput type="password" placeholder="Password" text="password"  >
                        </mat-input-container>
                    </mat-grid-tile>
                </mat-grid-list>
 
                <a routerLink="/sankey"><button mat-raised-button onclick="login()" class="login-button"> 
                    <mat-icon>input</mat-icon> Login
                </button></a>
 
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
 
</mat-grid-list>
</div>