<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>
<h2>Here are some graphs</h2>

<div style="width: 100%; display: table;">
  <div style="display: table-row">
    <div style="display: table-cell; padding: 10px"> <item-card title="Chart 1" description="awesome graph 1" url="https://i.stack.imgur.com/EpxlP.png"></item-card> </div>
    <div style="display: table-cell; padding: 10px"> <item-card title="Chart 2" description="awesome graph 2" url="https://i.stack.imgur.com/7Tk8n.png"></item-card> </div>
    <div style="display: table-cell; padding: 10px"> <item-card title="Chart 3" description="awesome graph 3" url="https://maxdemarzidotcom.files.wordpress.com/2012/02/network.png?w=580&h=478"></item-card> </div>
    
  </div>
</div>

<app-circle-map></app-circle-map>
