<!--The whole content below can be removed with the new code.-->
<div id="content" style="text-align:center">
  <mat-toolbar>
    <span id ="container">
      <div id="left"> <img style="height : 30px ; padding-right: 10px" src="https://content.prnewswire.com/images/RB_RB_Eng.png?w=200"> Welcome to {{title}}!! </div>
      <div [hidden]="!globals.login" id="right">&nbsp; Hello, {{globals.name}} <mat-icon style="vertical-align:middle">face</mat-icon> &nbsp;</div>
      <div id="middle"></div>
     </span>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
