agm-map {
    height: 600px;
  }

  

  .mat-table {
    display: table;
    overflow: auto;
    max-height: 500px;
    
  }

  .negative {
    color: rgb(124, 14, 14);
  }

  .positive {
    color: rgb(11, 122, 11);
  }
 